{% extends "_base.html" %}
{% block title %}View - Surveys{% endblock %}

{% block content %}
<div class="ui center aligned basic very padded segment">
    <h1 class="ui header">{{ survey.title }}</h1>
    <h3 class="ui header">현재 {{ num_submissions }}명이 응답 하였습니다.</h3>
    <h3 class="ui header">설문지 주소 : <a href="{{public_url}}">{{ public_url }}</a></h3>
    <h1 class="ui header dividing">설문 결과</h1>
    {% for question in questions %}
    <div class="ui basic padded segment left aligned">
        <h4 class="ui header">
            Question. {{ forloop.counter }} <br />
            Title : {{ question.question_text }} <br />
            Answer Type : {{ question.answer_type }}
        </h4>
        <ul>
            {% for choice in question.choice_set.all %}
            <li>
                {{ forloop.counter }}) {{choice.choice_text}}  ---------- {{ choice.percent|floatformat }} %
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    <a href="{% url 'survey-list-create' %}">
        <div class="ui button">뒤로가기</div>
    </a>
    <a href="{% url 'survey-download' survey.pk %}">
        <div class="primary ui button">다운로드</div>
    </a>
    <form onclick="return confirm('해당 설문지를 지울까요?')" method="post" action="{% url 'survey-delete' survey.pk %}" style="display: inline-block;">
        {% csrf_token %}
        <button class="negative ui button">삭제하기</button>
    </form>

</div>
{% endblock %}