{% extends "_base.html" %}
{% block title %}List - Surveys{% endblock %}

{% block content %}
<div class="ui center aligned basic very padded segment">
    <h1 class="ui header">환영합니다! {{ request.user.username }}님!</h1>
    <form style="display: inline-block;" method="post" action="{% url 'survey-list-create' %}"> 
        {% csrf_token %}
        <button type="submit" formmethod="post">
            <div class="ui primary button">설문지 생성하기</div>
        </button>
    </form>
    <a href="{% url 'logout' %}">
        <div class="negative ui button">로그아웃</div>
    </a>
    <hr>
    <h2 class="ui header">설문지 검색</h2>
    <form method="get" action="{% url 'survey-search' %}"> 
        <input type="search" id="query" name="q" placeholder="제목으로 검색합니다..." required>
    </form>
    
</div>
<hr>
<div class="ui center aligned basic very padded segment">
    {% if surveys %}
    <h2 class="ui header">설문지 목록</h2>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for survey in surveys %}
            <tr>
                <td>{{ survey.title }}</td>
                <td>{{ survey.description }}</td>
                <td>{{ survey.created_at|date:"Y-m-d-D"}}</td>
                <td>
                    {% if survey.is_active %}
                    <a href="{% url 'survey-detail' survey.pk %}">
                        <div class="ui button">자세히</div>
                    </a>
                    {% else %}
                    <a href="{% url 'survey-edit' survey.pk %}">
                        <div class="ui button">수정하기</div>
                    </a>
                    {% endif %}
                    <form onclick="return confirm('해당 설문지를 지울까요?')" method="post" action="{% url 'survey-delete' survey.pk %}" style="display: inline-block;">
                        {% csrf_token %}
                        <button class="negative ui button">삭제하기</button>
                    </form>
                </td>
            </tr>
            {% endfor %}

            <div class="pagination">
                <span class="step-links">
                    {% if surveys.has_previous %}
                        <a href="?page={{ surveys.previous_page_number }}">이전으로</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ surveys.number }} of {{ surveys.paginator.num_pages }}.
                    </span>
            
                    {% if surveys.has_next %}
                        <a href="?page={{ surveys.next_page_number }}">다음으로</a>
                    {% endif %}
                </span>
            </div>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <h4 class="ui header">Totals
                        <div class="sub header">
                            {{ total }}
                        </div>
                    </h4>
                </td>
            </tr>
        </tfoot>
    </table>
    {% else %}
    <h2 class="ui header">나의 설문지
        <div class="sub header">아직 설문지가 없네요. 생성하기를 통해서 새로운 설문지를 생성하세요!</div>
    </h2>
    {% endif %}

</div>
{% endblock %}